@keyframes rotation{
    from{
      transform: rotate(0);
    }
    to{
      transform: rotate(360deg);
    }
  }
  
.rotation{
    animation: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }